.__dumi-default-layout[data-site-mode='true'] .__dumi-default-layout-toc {
  top: 144px;
}
._markdown {
  h2 {
    display: none;
  }
}
.slug {
  .ant-btn {
    &:active,
    &:hover,
    &:focus {
      color: #14a3c0;
      border-color: #14a3c0;
    }
  }
  .changelog {
    position: fixed;
    right: 88px;
    top: 100px;
    border-radius: 4px;
    border-width: 0;
    background-color: #f5f6f7;
  }
}

input, textarea {
  &:focus {
    outline: none;
  }
}

.__dumi-default-menu-inner > ul ul a.active {
  color: #14a3c0;
}

.__dumi-default-menu-inner ul li a::before, .__dumi-default-menu-inner ul li > span::before {
  background-color: #14a3c0;
}

.__dumi-default-menu-inner ul li a:hover, .__dumi-default-menu-inner ul li > span:hover, .__dumi-default-menu-inner ul li a.active, .__dumi-default-menu-inner ul li > span.active {
  color: #14a3c0;
}

.__dumi-default-menu[data-mode='site'] .__dumi-default-menu-list > li > a::after {
  background-color: #14a3c0;
}

.__dumi-default-navbar nav > span > a:hover, .__dumi-default-navbar nav > span > a.active {
  color: #14a3c0;
}

.__dumi-default-navbar nav > span > a.active::after {
  background-color: #14a3c0;
}
